.body-font() {
  font-family: @font-name;
  font-size: @body-font-size;
  font-weight: normal;
  text-transform: uppercase;
}

.body-font-title() {
  font-family: @font-name;
  font-size: @body-font-size-big;
  font-weight: bold;
  text-transform: uppercase;
}

.body-font-menu() {
  font-family: @font-name;
  font-size: @body-font-size-extra-big;
  font-weight: bold;
  text-transform: uppercase;
}

.body-font-extra() {
  font-family: @font-name;
  font-size: @body-font-size-extra-big;
  font-weight: bold;
  text-transform: uppercase;
}

.body-font-title-max() {
  font-family: @font-name;
  font-size: @body-font-size-max-big;
  font-weight: bold;
  text-transform: uppercase;
}
