.about {

}

.about__header {
  display: block;
  height: 389px;
  background: url('../img/bg-back-mobile@1x.jpg') no-repeat center;
  background-size: 100%;
}

.about__slogan {
  text-align: center;
  padding: 20px;
}

.about__content {
  display: block;
  height: 240px;
  padding: 20px;
  text-align: center;
}

.about__content-title {
  .body-font-title();
  color: @black-color;
}

.about__content-intro {
  .body-font();
  color: @black-color;
}
