.menu-navigation {
  text-align: center;
}

.menu-navigation--opened {

}

.menu-navigation--nojs {

}

.menu-navigation__items {

}

.menu-navigation__item {

}

.menu-navigation__item-active {

}

.menu-navigation__item-last {

}

.menu-navigation__toggle {
  background: url('../img/icon-menu.svg') no-repeat center;
}

.menu-navigation__close {
  background: url('../img/icon-cross.svg') no-repeat center;
}
