.page-content {

}

.page-content__intro {
  display: block;
  height: 158px;
  background: url('../img/bg-back-mobile@1x.jpg') no-repeat center;
  background-size: 100%;
}

.page-content__intro-text {
  content: ' ';
  background: url('../img/text-sedona.svg') no-repeat center;
  height: 100%;
  background-size: 100%;
}
