.page-footer {

}

.page-footer__wrapper {
  text-align: center;
  padding: 20px;
}

.page-footer__hastag {
  .body-font-title();
  color: @black-color;
  cursor: pointer;

  @media @tablet {
    float: left;
    width: 33%;
  }
}

.page-footer__social {
  @media @tablet {
    float: left;
    width: 33%;
  }
}

.page-footer__copyright {
  @media @tablet {
    float: left;
    width: 33%;
  }
}

.page-footer__copyright-link {
  .body-font();
  color: @black-color;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content:center;

  &:hover {
    fill: @button-color;
  }

  svg {
    padding-left: 10px;
  }
}
