.page-footer {

}

.page-footer__wrapper {
  text-align: center;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 0;
  height: 205px;

  @media @tablet {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.page-footer__hastag {
  .body-font-title();
  color: @black-color;
  cursor: pointer;

  @media @tablet {
    float: left;
    width: 33%;
  }
}

.page-footer__social {
  @media @tablet {
    float: left;
    width: 33%;
  }
}

.page-footer__copyright {
  @media @tablet {
    float: left;
    width: 33%;
  }
}

.page-footer__copyright-link {
  .body-font();
  color: @black-color;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content:center;

  &:hover {
    fill: @button-color;
  }

  &:active {
    fill: @font-active-color-tablet;
  }

  svg {
    padding-left: 10px;
  }
}
