.pictures {
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;

  @media @tablet {
    width: 768px;
    padding-left: 0;
    padding-right: 0;
  }

  @media @desktop {
    width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}

.pictures__title {
  .body-font-title();
  color: @black-color;
  padding-top: 40px;

  @media @tablet {
    padding-top: 75px;
    .body-font-title-max();
  }
}

.pictures__title-description {
  .body-font();
  color: @black-color;
  max-width: 270px;
  margin: 20px auto 40px;

  @media @tablet {
    max-width: 440px;
    margin: 20px auto 50px;
  }
}

.pictures__items {
  margin-bottom: 20px;

  @media @tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px 60px 65px;
  }

  @media @desktop {
    margin: 42px 0 71px;
  }
}

.pictures__item {
  box-sizing: border-box;
  border-top: 1px solid @grey-color;
  text-align: center;
  margin: 0;
  position: relative;

  @media @tablet {
    border: 0;
    padding: 0;
    flex: 0 1 50%;

    img {
      max-height: 270px;
    }

    &--index {
      flex-basis: 100%;

      img {
        max-height: 400px;
      }
    }

    &:last-of-type {
      margin: 0;
    }
  }

  @media @desktop {
    flex: 1 1 33%;

    img {
      max-height: 270px;
    }

    &--index {
      flex-basis: 100%;

      img {
        width: 1200px;
        max-height: 400px;
      }
    }
  }
}

.pictures__item-description-wrapper {
  padding: 15px 0;

  @media @tablet {
    background: @grey-light-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 30px 12px 20px;
  }

  @media @desktop {
    background: @transparent-video-color;
    box-sizing: border-box;
    color: @white-color;
    margin-top: -80px;
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 0;
  }
}

.pictures__photo {
  display: block;
  margin: 0 auto;
  width: 100%;
  object-fit: cover;

  @media @tablet {
    width: 100%;
  }
}

.pictures__item-description {

}

.pictures__item-picture-title {
  .body-font-bold();
  color: @black-color;

  @media @desktop {
    color: @white-color;
  }
}

.pictures__item-author {
  .body-font();
  color: @black-color;
  text-align: left;

  @media @desktop {
    color: @white-color;
  }
}

.pictures__description {
  text-align: left;

  @media @desktop {
    margin-top: 5px;
    margin-left: 20px;
  }
}

.pictures__item-likes {
  .body-font-bold();
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  img {
    width: 23px;
    height: 21px;
  }

  a {
    margin-right: 10px;
    text-decoration: none;
  }

  @media @desktop {
    margin: 0;
    margin-right: 20px;
  }
}

.pictures__item-likes-count {
  @media @desktop {
    color: @white-color;
  }
}

.pictures__video {
  position: relative;
  margin: 0 auto;
  width: 320px;

  @media @tablet {
    width: 100%;
  }

  img {
    width: 320px;
    height: 200px;
  }

  @media @tablet {
    img {
      width: 648px;
      height: 500px;
    }
  }

  @media @desktop {
    img {
      width: 800px;
      height: 500px;
    }
  }
}

.pictures__video-title {
  .body-font-title();
  color: @black-color;

  @media @tablet {
    .body-font-title-max();
  }
}

.pictures__video-description {
  .body-font();
  color: @black-color;
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 40px;
}
