.reasons {

}

.reasons__items {

}

.reasons__reason-one {
  text-align: center;
}

.reasons__intro {
  display: block;
  height: 192px;
}

.reasons__title {
  .body-font-title();

  @media @tablet {
    .body-font-extra();
  }
}

.reasons__title-number {
  .body-font();
}

.reasons__title-description {
  .body-font();
}

.reasons__main-picture {
  display: block;
  width: 320px;

  img {
    width: 320px;
  }
}

.reasons__advantages {
  text-align: center;
}

.reasons__advantage-item {

}

.reasons__advantage-logo {

}

.reasons__advantage-text {

}

.reasons__advantage-title {
  .body-font-title();
  color: @black-color;
}

.reasons__advantage-title-description {
  .body-font();
  color: @black-color;
}

.reasons__reason-two {
  text-align: center;
}

.reasons__reason-closed {

}

.reasons__intro-closed {
  display: block;
  height: 168px;
  text-align: center;
}

.reasons__title-closed {
  .body-font-title();

  @media @tablet {
    .body-font-extra();
  }
}

.reasons__title-number_closed {
  .body-font();
}

.reasons__title-description-closed {
  .body-font();
}
