.social-link {
  cursor: pointer;

  &--twitter {
    width: 20px;
    height: 20px;
    background: url('../img/icon-twitter.svg') no-repeat center;

    a {

    }
  }

  &--facebook {
    width: 20px;
    height: 20px;
    background: url('../img/icon-facebook.svg') no-repeat center;

    a {

    }
  }

  &--youtube {
    width: 20px;
    height: 20px;
    background: url('../img/icon-youtube.svg') no-repeat center;

    a {

    }
  }
}
